.container {
  text-align: center;
  /* width: 600px; */
  margin-left: auto;
  margin-right: auto;
}
section {
  border: 2px solid #e4e4e4;
  margin-top: 40px;
  padding-bottom: 20px;
}
.dlg-wrapper {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.con {
  height: 300px;
  width: 500px;
  background: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1234;
}
.tab-wrapper {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.header {
  width: 100px;
  display: inline-block;
}
.header.active {
  border-bottom: 2px solid red;
}
.cnt {
  display: none;
}
.cnt.active {
  display: block;
}

.item {
  height: 50px;
}

ul {
  display: inline-block;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

i.icon-pager {
  width: 20px;
  display: inline-block;
  color: blue;
  font-size: 25px;
  vertical-align: -2px;
  cursor: pointer;
}

li.page-item {
  display: inline-block;
  width: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.page-item.active {
  background: #00bc8d;
}
.jump-page {
  margin-left: 20px;
  height: 26px;
  width: 40px;
}


.loading {
  height: 100px;
  position: relative;
}
.loader {
  position: absolute;
  width: 50px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.loader::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  animation: rotate 3s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
    dash 1.52s ease-in-out infinite,
    color 6s ease-in-out infinite;
  stroke-linecap: round;
}
    
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100%{
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
  
@keyframes color {
  100%, 0%{
    stroke: #ffa90c;
  }
}

